
<%= provide(:title, @user.name) %>

<div class="container">
  <div class="push"> </div>
  <div class="row">

    <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1 img-circle">
      <%= image_tag @user.avatar.rounded.url , :class=> "img-circle" %>
    </div>

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <h3><%= @user.name %> </h3>
      <%#<h4> Preffered activities </h4>%>
      <%#<p>%>
      <%#<% @user.activities.each do |activity| %>
        <%#<%= activity.name %>
        <%#<% end %>
      <%#</p>%>
    </div>
    <% if current_user == @user %>

      <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 pull-right">
        <ul class="ul-no-style">
          <li><%= link_to "Επεξεργασία Προφίλ", edit_user_registration_path %></li>
          <li>        <%= link_to "Πρόσθεσε μια διαδρομή" , new_user_trail_path(@user) %> </li>
          <li>        <%= link_to "Αναζήτησε νέες διαδρομές" , trail_searches_new_path %></li>
        </ul>
      </div>
    <%end %>


  </div>
  <div class="push"></div>
  <div class="row">
    <div class="col-md-8">
      <% if current_user == @user %>
        <h4> Οι καλύτερες διαδρομές σου </h4>
      <% else %>
        <h4>Οι καλύτερες διαδρομές του/τής : <%= @user.name || @user.email %>  </h4>
      <% end %>

      <%= render partial: 'trails/index', locals:{trails: @trails} %>
      <div id="paginator">
        <%= paginate @trails, :remote => true %>
      </div>

      <div class="col-md-offset-5">
      </div>


    </div>
    <div class="col-md-offset-1 col-md-3">
      <h4> Στατιστικά Χρηστη </h4>
      <table role="presentation" class="table table-striped">
        <tr>
          <td>Συνολικές διαδρομές: <%=@user.total_trails %></td>

        </tr>
        <tr>
          <td>Συνολική απόσταση: <%= @user.total_trails_length %> </td>
        </tr>
      </table>

    </div>

  </div>


</div>


