<%= provide(:title , "Add Trail")%>

<%= javascript_tag do %>
  window.method_name = '<%= @method_name %>';
<% end %>
<div class="fullscreen-container">
  <div id='map'>
  </div>
  <div id="directions">
    <div id="routes" class="mapbox-directions-routes">
      <h5> Preview Trail </h5>
      <ul style="display:none">
        <li class= "mapbox-directions-route mapbox-directions-route-active">
        <%#<div class="mapbox-directions-route-heading">%>
          <%#Trail Name:%>
          <%#</div>%>
        <%#<div class="mapbox-directions-route-summary">%>
          <%#</div>%>
        <div class="mapbox-directions-route-heading">
          Αφετηρία:
        </div>
        <div class="mapbox-directions-route-details">
        </div>
        <div class="mapbox-directions-route-heading">
          Προορισμός
        </div>
        <div class= "mapbox-directions-route-details">
        </div>
        <div class="mapbox-directions-route-heading">
          Μήκος διαδρομής
        </div>
        <div class="mapbox-directions-route-details">
        </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
      <h2> Πρόσθεσε μια διαδρομή </h2>
      <%= render 'form' %>
    </div>
    <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
      <h3> Οδηγίες </h3>
      <div>
        <p>
        <ul>
          <li>Μπορείτε να σύρετε η να εισάγετε το αρχείο της διαδρομής στην φόρμα</li>
          <li> Αποδεκτές μορφές αρχείου : ".gpx" ".json" </li>
          <li>
                'Αν δέν έχετε κάποιο αρχείο απο το gps σας , μπορείτε να δημιουργήσετε ένα μέσω του εργαλείου στην σελίδα

                <%= link_to 'Φτιάξτε το geojson αρχείο της διαδρομής σας' , export_path %>

          </li>
          <li>Αφού επιλέξετε το αρχείο , η διαδρομή θα εμφανιστεί πάνω στο χάρτη </li>
          <li> Μπορείτε επίσης να σύρετε η να εισάγετε και φωτογραφίες απο τη διαδρομή </li>
          <li> Μόνο 6 φωτογραφίες επιτρέπονται </li>
          <li> Άν η φωτογραφία έχει και γεωγραφικά δεδομένα (exif gps data) οι φωτογραφίες θα εμφανιστούν στον χάρτη </li>
          <li> Συμπληρώστε τα υπόλοιπα στοιχεία της φόρμας </li>
          <li> 'Αν όλα πάνε καλά μόλις ολοκληρωθεί η επεξεργασία της διαδρομής, αυτόματα θα μεταφερθείτε στην αντίστοιχη σελίδα </li>
        </ul>
        </p>
      </div>
    </div>
  </div>
</div>





