<%= provide(:title ,  @trail.name) %>
<%= javascript_tag do %>
  window.track_id = '<%= @trail.id %>';
  window.method = '<%= @method_name %>';
<% end %>


<div class="fullscreen-container">
  <%= flash_messages %>

  <div id='map'>
  </div>
  <div id="directions">
    <div id="routes" class="mapbox-directions-routes">
      <h5> Trail Info </h5>
      <ul>
        <li class= "mapbox-directions-route mapbox-directions-route-active">
          <div class="mapbox-directions-route-heading">
            Trail Name:
          </div>
          <div class="mapbox-directions-route-summary">
            <%= @trail.name %>
          </div>
          <div class="mapbox-directions-route-heading">
            First Point:
          </div>
          <div class="mapbox-directions-route-details">
            <%= @trail.start_point %>
          </div>
          <div class="mapbox-directions-route-heading">
            Finish Point
          </div>
          <div class= "mapbox-directions-route-details">
            <%= @trail.end_point %>
          </div>
          <div class="mapbox-directions-route-heading">
            Length:
          </div>
          <div class="mapbox-directions-route-details">
            <%= @trail.length %>
          </div>
        </li>
      </ul>
    </div>
    <div id="instructions">
      <div class="imdb-star-avg">
         <div class="col-md-offset-4">
            <h5> Average Rating </h5>
         </div>
        <div class="col-md-offset-5">
          <% if @trail.rate_average_without_dimension.avg.nil? %>
            :( Noone has rated this trail yet
          <%else %>
          <%= rating_for @trail , nil,disable_after_rate:false ,  imdb_avg: true, readonly: true%>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

