<%= provide(:title ,  @trail.name) %>
<h2><%= @trail.name%></h2>
<%= javascript_tag do %>
  window.track_id = '<%= @trail.track.id %>';
  window.method = '<%= @method_name %>';
<% end %>
<div class="row">
  <div class= "col-md-8">
    <div id='point-map'></div>
  </div>
</div>



