
<div class="fullscreen-container">
   <div id="point-map">
  </div>
  <div id='inputs'>
  </div>
  <div id='errors'>
  </div>
  <div id='directions'>
    <h5> Mapbox Suggested routes </h5>

    <div id='routes'>

    </div>

    <h5> Our suggestions </h5>
    <div id="suggestions" class="mapbox-directions-routes">
      
    </div>
  </div>

  <div class="container">
    <div class="row">
    <h3> Search Options </h3>
    <ul class= "nav nav-pills">
      <li class="active"><a href="#search-near-point" aria-controls="search-near-point" role="tab" data-toggle="tab">Search Trails Near You</a></li>
      <li> <a href="#search-with-destination"aria-controls="search-with-destination" role="tab" data-toggle="tab"> Search your destination </a></li>
    </ul>
  </div>

  <div class="row">
    <div class="tab-content">
        <%= form_tag({controller: "trail_searches" , action: "search"} , method: "post", remote: true, id: 'trail-search-form') do  %>
        <%= label_tag(:radius , "radius:") %>
        <%= number_field_tag 'radius', '500' , min:500 ,step: 2000 %></br>
        <%= label_tag(:origin , "Origin:") %>
        <%= text_field_tag(:origin) %>
        <%= hidden_field_tag(:origin_lnglat) %>

      <div role="tabpanel" class="tab-pane active" id="search-near-point">
      </div>
      <div role="tabpanel" class="tab-pane" id="search-with-destination">
        <%= hidden_field_tag(:destination_lnglat) %>
        <%= hidden_field_tag(:sample_route) %>
        <%= submit_tag("search", id: "search-button") %>
        <% end %>


      </div>
    </div>
  </div>
  </div>





</div>




