<style>
.ui-button {
  background:#3887BE;
  color:#FFF;
  display:block;
  position:relative;
  bottom:0%;left:50%;
  width:160px;
  margin:-20px 0 0 -80px;
  z-index:100;
  text-align:center;
  padding:10px;
  border:1px solid rgba(0,0,0,0.4);
  border-radius:3px;
  }
  .ui-button:hover {
    background:#3074a4;
    color:#fff;
    }
  </style>

  <div class="row">
  <div id='map'></div>
</div>
<div class="row">
  <%= form_tag({controller: "trail_searches" , action: "search"} , method: "get", remote: true, id: 'trail-search-form') do  %>
    <%= label_tag(:radius , "radius:") %>
    <%= number_field_tag 'radius', '500' , min:500 ,step: 2000 %>
    <%= label_tag(:location , "location:") %>
    <%= text_field_tag(:location) %>
    <%= hidden_field_tag(:lnglat) %>
    <%= submit_tag("search") %>
  <% end %>
</div>
<div class="row" id="results">
</div>


