<div class="form_box" id="sign_in_form">
<h1>Log in</h1>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), wrapper: :vertical_form) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :email, label:false , wrapper: :vertical_input_group do %>
      <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"> </i></span>
      <%= f.input_field :email,placeholder:'Email',autofocus:true, class: "form-control" %>
    <%end%>
    <table class="table">
      <tr>
        <tbody>
          <td id="form_table_input">
            <%= f.input :password, label: false , wrapper: :vertical_input_group do %>
              <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
              <%= f.input_field :password ,  placeholder: 'Password' , autofocus: true, class: "form-control"%>
            <%end%>
          </td>
          <td id="form_table_button">
            <%= f.button :submit, "Log in", class: "btn btn-info btn-block "%>
          </td>
        </tbody>
      </tr>
    </table>
  </div>

<% end %>
</div>

